# Using Pandas for Data Analysis

_Importing the Pandas module. First, let's import our Pandas library._

In [13]:
import pandas as pd

_Creating our data sets: one listing the days and another listing cumulative miles each day_

In [14]:
days = ["Day-1", "Day-2", "Day-3", "Day-4", "Day-5", "Day-6", "Day-7"]

In [15]:
cumul_miles = [55, 120, 300, 550, 880, 1100, 2000]

_Next, we concatenate our two lists using the zip() function. This will be useful for our Pandas object._

In [16]:
tDataSet = list(zip(days,cumul_miles))

_Here, we create our Pandas dataFrame object. This will store our days and
cumulative miles driven per day in a SQL-like column-wise format._

In [17]:
df = pd.DataFrame(tDataSet, columns=['Day', 'Cumulative Miles'])

In [18]:
df

     Day  Cumulative Miles
0  Day-1                55
1  Day-2               120
2  Day-3               300
3  Day-4               550
4  Day-5               880
5  Day-6              1100
6  Day-7              2000

_Now that we've created our Pandas series object which holds our data, we need to calculate the daily miles. 
Our formula will be simple. Every subsequent value in our __cumul_miles array__ is the sum of the previous days' miles driven._

In [19]:
daily_miles = []

In [20]:
for x in range(len(cumul_miles)):
    if x > 0:
        daily_miles += [(cumul_miles[x] - cumul_miles[x-1])]
    else:
        daily_miles += [cumul_miles[x]]

_This output is correct. Now, let's create another Pandas series object to hold data for daily miles driven._

In [21]:
daily_miles

[55, 65, 180, 250, 330, 220, 900]

_Like before, we use our existing __days__ array and concatenate it with our new __daily miles__ array (for our Pandas series object)._

In [22]:
nDataSet = list(zip(days,daily_miles))

In [23]:
ndf = pd.DataFrame(nDataSet, columns=['Days', 'Total Miles'])

In [24]:
ndf

    Days  Total Miles
0  Day-1           55
1  Day-2           65
2  Day-3          180
3  Day-4          250
4  Day-5          330
5  Day-6          220
6  Day-7          900